

body {
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: orange;
  margin: 10px;
  padding: 10px;
  border-radius: 20px ;
  object-fit: cover;
  object-position: center;
}

.titulo1 {
  color: black;
  text-align: center;
}


/*IMAGEM RESPONSIVA */
.ImagemWaffle {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  
}

figure {
  text-align: center;
}

div {
  margin-left: 3rem;

}

